#ribbon {
  --s: 1.8em; /* ribbon size */
  --d: 0.8em;
  --c: 0.8em;

  display: inline-block;
  padding: var(--d) calc(var(--s) + 0.5em);
  line-height: 1.8;
  font-weight: bold;
  color: #fff;

  background: 
    conic-gradient(from 45deg at left var(--s) top var(--d),
     #0008 12.5%,#0000 0 37.5%,#0004 0) 0 /50% 100% no-repeat,
    conic-gradient(at right var(--s) bottom var(--d),
     #0004 62.5%,#0008 0 75%,#0000 0) 100%/50% 100% no-repeat;
  clip-path: polygon(
    100% calc(2*var(--d)),
    calc(100% - var(--s)) calc(2*var(--d)),
    calc(100% - var(--s)) var(--d),
    calc(var(--s) + var(--d)) var(--d),
    calc(var(--s) + var(--d)) 0,
    0 0,
    var(--c) calc(50% - var(--d)),
    0 calc(100% - 2*var(--d)),
    var(--s) calc(100% - 2*var(--d)),
    var(--s) calc(100% - var(--d)),
    calc(100% - var(--s) - var(--d)) calc(100% - var(--d)),
    calc(100% - var(--s) - var(--d)) 100%,
    100% 100%,
    calc(100% - var(--c)) calc(50% + var(--d))
  );
  background-color: theme('colors.primary');
  width: fit-content;
}
